.page-home {
  overflow-x: hidden;
  header {
    background-image: url(../img/bg/bg-header.webp);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    position: relative;
    overflow: hidden;
    height: 90vh;

    nav {
      box-shadow: 0px 1px 20.7px 0px #00000026;
      height: 90px;
      background-color: #fff;

      .menu-item {
        font-size: 14px;
      }
    }

    .img-header-desktop {
      position: absolute;
      bottom: 0;
      right: 15%;
      height: 36em;
      width: 25em;

      @media screen and (min-width: 1600px) {
        height: 44em;
        width: 30.685em;
      }
    }
  }

  #servicos {
    .service-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 488px;
      width: 100%;
      border-radius: 120px 120px 0px 0px;
      box-shadow: 0px 0px 11.6px -2px #00000026;
      background-color: #FFFFFF;
      padding: 21px 16px 16px 16px;
      position: relative;

      .icon-circle {
        height: 170px;
        width: 170px;
        border-radius: 50%;
        background-color: #F7F1FA;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .butterfly {
        position: absolute;
        background-image: url(../img/bg/butterfly.webp);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        height: 80px;
        width: 80px;

        &.first {
          bottom: 2%;
          left: -26%;
          transform: rotate(-45deg) scaleX(-1);
        }
        
        &.last {
          top: -2%;
          right: -15%;
          transform: rotate(18deg);
        }
      }
    }
  }

  #missao-visao-valores {
    position: relative;
    overflow: hidden;

    .value-bubble {
      border-radius: 50%;
      height: 370px;
      width: 370px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      overflow-wrap: break-word;
      background-color: #F7F1FA;
      padding: 30px;
    }

    .bubble {
      background-color: #FBF9FD;
      border-radius: 50%;
      position: absolute;

      &.one {
        height: 72px;
        width: 72px;
        top: 0%;
        left: -2%;
      }

      &.two {
        height: 40px;
        width: 40px;
        bottom: 5%;
        left: 5%;
      }

      &.three {
        height: 36px;
        width: 36px;
        top: 5%;
        left: 22%;
      }

      &.four {
        height: 75px;
        width: 75px;
        top: 9%;
        left: 27%;
      }

      &.five {
        height: 75px;
        width: 75px;
        bottom: 9%;
        right: 27%;
      }

      &.six {
        height: 36px;
        width: 36px;
        bottom: 5%;
        right: 22%;
      }

      &.seven {
        height: 40px;
        width: 40px;
        top: 5%;
        right: 5%;
      }

      &.eight {
        height: 72px;
        width: 72px;
        bottom: 2%;
        right: -2%;
      }
    }
  }

  #depoimentos {
    .testimony-card {
      box-shadow: 0px 0px 11.6px -2px #00000026;
      background-color: #FFFFFF;
      height: 307px;
      width: 265px;
      padding: 15px;
      margin: 10px;
      border-radius: 8px;
    }
  }

  #blog {
    .sub {
      font-family: Nunito;
      font-size: 20px;
      font-weight: 600;
      line-height: 20px;
      letter-spacing: 0.44em;
      text-align: center;
      color: #343434;
    }

    .blog-card {
      position: relative;
      overflow: hidden;
      height: 359px;
      width: 100%;
      background-color: #F7F1FA;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 20px;

      .cover {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 50%;
        object-fit: cover;
      }

      .title {
        color: #020202;
      }
      
      p {
        color: #545454;
      }
    }
  }

  #faq {
    background-color: #F7F1FA;
    
    .accordion-item {
      box-shadow: 0px 0px 11.6px -2px #00000026;
      border-radius: 8px;
    }

    .accordion-header {
      padding: 16px 10px;
      gap: 10px;
      border-radius: 8px;
      background-color: #FFF;
      color: #692D86;
      font-family: Nunito;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      text-align: center;
      transition: all .2s ease-in-out;
      
      &:not(.collapsed) {
        border-radius: 8px 8px 0px 0px;
        background-color: #692D86;
        color: #FFF;

        svg {
          transform: rotate(0deg);
        }
      }
    }

    .accordion-body {
      background-color: #FFFFFF;
      border-radius: 0px 0px 8px 8px;
      transition: all .2s ease-in-out;
    }
  }

  footer {
    background-image: url(../img/bg/wave.webp);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    background-color: #fff;

    hr {
      border-color: #51615E30;
    }
  }

  aside {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    height: 100%;
    width: 0px;
    transition: all .4s ease-in-out;
    z-index: 99;
    overflow: auto;
    box-shadow: 0px 1px 20.7px 0px #00000026;
    background-color: #fff;

    &::-webkit-scrollbar {
      width: 2px;
    }
    
    &::-webkit-scrollbar-track {
      background: transparent;
    }
    
    &::-webkit-scrollbar-thumb {
      background: #888;
    }
    
    &::-webkit-scrollbar-thumb:hover {
      opacity: .8;
    }

    .mobile-menu-item {
      text-decoration: none !important;
      color: #000 !important;
      font-size: 14px !important;
    }
    
    hr {
      border-color: #692D86;
    }
  }
}